@charset "UTF-8";

.front{margin: 5px 32px 45px 32px;background-color: #f0f0f0; color: #666;text-align: center;padding: 3px;border-radius: 5px;} 
div.seatCharts-cell {color: #182C4E;height: 25px;width: 25px;line-height: 25px;margin: 3px;float: left;text-align: center;outline: none;font-size: 13px;} 
div.seatCharts-seat {color: #fff;cursor: pointer;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius: 5px;} 
div.seatCharts-row {height: 35px;} 
div.seatCharts-seat.available {background-color: #B9DEA0;} 
div.seatCharts-seat.focused {background-color: #76B474;border: none;} 
div.seatCharts-seat.selected {background-color: #E6CAC4;} 
div.seatCharts-seat.unavailable {background-color: #E6CAC4;} /*cursor: not-allowed;*/
div.seatCharts-container {width: 100%;float: center;} 
div.seatCharts-seat.available.first-class {background-color: #3a78c3;}
div.seatCharts-seat.available.second-class {background-color: #d9111b;}
div.seatCharts-seat.is_pesan {background-color: #3a78c3;}
div.seatCharts-seat.is_datang {background-color: #d9111b;}
div.seatCharts-legend {padding-left: 20px;bottom: 300px;} 
ul.seatCharts-legendList {padding-left: 0px;} 
.seatCharts-legendItem{float:left; margin-top: 10px;line-height: 2; padding-right: 30px;} 
span.seatCharts-legendDescription {margin-left: 5px;line-height: 30px;} 
.checkout-button {display: block;width:80px; height:24px; line-height:20px;margin: 10px auto;border:1px solid #999;font-size: 14px; cursor:pointer} 
#selected-seats {max-height: 150px;overflow-y: auto;overflow-x: none;width: 350px;} 
#selected-seats li{float:left; line-height:10px; border:1px solid #d3d3d3; background:#f7f7f7; margin:6px; font-size:14px; font-weight:bold; text-align:left; width: 50%;} 